<!DOCTYPE html>
<html>
<head>
    <title> Let's take action! </title>
</head>
<body>

<input type="checkbox" name="Step 1" value = "Step 1">Step 1<br>
<input type="checkbox" name="Step 2" value = "Step 2">Step 2<br>
<input type="checkbox" name="Step 3" value = "Step 3">Step 3<br>
<input type="checkbox" name="Step 4" value = "Step 4">Step 4<br>
<input type="checkbox" name="Step 5" value = "Step 5">Step 5<br>
<input type="checkbox" name="Step 6" value = "Step 6">Step 6<br>
<input type="checkbox" name="Step 7" value = "Step 7">Step 7<br>
<input type="checkbox" name="Step 8" value = "Step 8">Step 8<br>
<input type="checkbox" name="Step 9" value = "Step 9">Step 9<br>
<input type="checkbox" name="Step 10" value = "Step 10">Step 10<br>
<input type="checkbox" name="Step 11" value = "Step 11">Step 11<br>
<input type="checkbox" name="Step 12" value = "Step 12">Step 12<br>
<input type="checkbox" name="Step 13" value = "Step 13">Step 13<br>


</body>
</html>