<!DOCTYPE html>
<html>
<head>
    <title>Select Campaign!</title>
</head>
<body>
  

<h1>Select Your Campaign</h1>
<!--Below is a form that enables the user to choose an option of issue--> 
<form action="#1" method="get">
  <select name="Issue" method="get">
    <option value="Sexual Violence" selected>Sexual Violence</option>
    <option value="Domestic Violence">Domestic Violence</option>
    <option value="Gun Violence" > Gun Violence</option>
    
      <input type="submit" class="btn" value="Set" name="mybtn">
</select>
</form>
<!--This button takes the user to the choice page--> 
<button type="button" onClick="location.href='choice.html'" name="mybtn">Go!</button>
</body>
</html>
